.form-control:not([type=file]){
    border: 1px !important;
    border-style: none none solid none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.form-control:focus{
    box-shadow: none !important;
}